<div class="content">
  <mat-card class="overview-item">
    <mat-card-title>Cart</mat-card-title>
    <mat-card-content class="item" *ngFor="let item of cartItems">
      <div (click)="detailService.showCartItem(item)" >
        <img src="{{item.pictures[0].imageURL}}" alt="{{item.name}}" class="overview-image">
        <span class="item-name">
        {{item.name}}
      </span>
        <span class="item-category">
        {{item.category}}
      </span>
        <span class="item-price">
        {{item.price}}Fr
      </span>
      </div>
      <mat-icon (click)="removeOne(item)">remove_circle</mat-icon>
      <span class="item-amount">
        {{item.amount}}x
      </span>
      <mat-icon (click)="addOne(item)">add_circle</mat-icon>
    </mat-card-content>
    <mat-card-content *ngIf="cartItems.length === 0">
      Your cart is empty
    </mat-card-content>
    <mat-card-actions>
      <span>Total amount: {{getTotalAmount()}} Fr</span>
      <button mat-icon-button>
        <mat-icon>payment</mat-icon>
        Pay
      </button>
    </mat-card-actions>
  </mat-card>
</div>
