.detail-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

mat-card-content {
  display: flex;
  align-items: center;
}

mat-card-actions {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

span, mat-icon {
  margin-left: 5px;
}

.overview-item {
  width: 50em;
  margin: 3em;
  overflow: hidden;
  cursor: pointer;
}

.overview-image {
  width: auto;
  height: 5em;
  max-width: 5em;
}

.content {
  margin-left: 10px;
}

.item-name {
  font-weight: bolder;
}

.item-category {
  font-weight: lighter;
}
