.overview-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.overview-item {
  width: 20em;
  margin: 3em;
  overflow: hidden;
  cursor: pointer;
}

.overview-image {
  width: auto;
  height: 20em;
  max-width: 20em;
}
